src/conf/xml-resources/web-service-references/SoapWebService/wsdl/localhost_8080/SoapWebService/SoapWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/" name="SoapWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/" schemaLocation="http://localhost:8080/SoapWebService/SoapWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="init">
<part name="parameters" element="tns:init"/>
</message>
<message name="initResponse">
<part name="parameters" element="tns:initResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="LoginInvalidateException">
<part name="fault" element="tns:LoginInvalidateException"/>
</message>
<message name="makeOrder">
<part name="parameters" element="tns:makeOrder"/>
</message>
<message name="makeOrderResponse">
<part name="parameters" element="tns:makeOrderResponse"/>
</message>
<message name="OrderNotCreatedException">
<part name="fault" element="tns:OrderNotCreatedException"/>
</message>
<message name="findOrder">
<part name="parameters" element="tns:findOrder"/>
</message>
<message name="findOrderResponse">
<part name="parameters" element="tns:findOrderResponse"/>
</message>
<message name="ClientNotFoundException">
<part name="fault" element="tns:ClientNotFoundException"/>
</message>
<message name="OrderNotFoundException">
<part name="fault" element="tns:OrderNotFoundException"/>
</message>
<message name="findAllProducts">
<part name="parameters" element="tns:findAllProducts"/>
</message>
<message name="findAllProductsResponse">
<part name="parameters" element="tns:findAllProductsResponse"/>
</message>
<message name="ProductNotFoundException">
<part name="fault" element="tns:ProductNotFoundException"/>
</message>
<message name="makeOrderTest">
<part name="parameters" element="tns:makeOrderTest"/>
</message>
<message name="makeOrderTestResponse">
<part name="parameters" element="tns:makeOrderTestResponse"/>
</message>
<message name="findProductById">
<part name="parameters" element="tns:findProductById"/>
</message>
<message name="findProductByIdResponse">
<part name="parameters" element="tns:findProductByIdResponse"/>
</message>
<message name="findStockByProduct">
<part name="parameters" element="tns:findStockByProduct"/>
</message>
<message name="findStockByProductResponse">
<part name="parameters" element="tns:findStockByProductResponse"/>
</message>
<message name="findAllOrders">
<part name="parameters" element="tns:findAllOrders"/>
</message>
<message name="findAllOrdersResponse">
<part name="parameters" element="tns:findAllOrdersResponse"/>
</message>
<message name="orderDeliveryDate">
<part name="parameters" element="tns:orderDeliveryDate"/>
</message>
<message name="orderDeliveryDateResponse">
<part name="parameters" element="tns:orderDeliveryDateResponse"/>
</message>
<message name="findOrderItems">
<part name="parameters" element="tns:findOrderItems"/>
</message>
<message name="findOrderItemsResponse">
<part name="parameters" element="tns:findOrderItemsResponse"/>
</message>
<message name="ItemNotFoundException">
<part name="fault" element="tns:ItemNotFoundException"/>
</message>
<message name="findOrderByClienId">
<part name="parameters" element="tns:findOrderByClienId"/>
</message>
<message name="findOrderByClienIdResponse">
<part name="parameters" element="tns:findOrderByClienIdResponse"/>
</message>
<message name="findProductsByDescription">
<part name="parameters" element="tns:findProductsByDescription"/>
</message>
<message name="findProductsByDescriptionResponse">
<part name="parameters" element="tns:findProductsByDescriptionResponse"/>
</message>
<message name="getProductsByCategory">
<part name="parameters" element="tns:getProductsByCategory"/>
</message>
<message name="getProductsByCategoryResponse">
<part name="parameters" element="tns:getProductsByCategoryResponse"/>
</message>
<message name="findProductsByCategory">
<part name="parameters" element="tns:findProductsByCategory"/>
</message>
<message name="findProductsByCategoryResponse">
<part name="parameters" element="tns:findProductsByCategoryResponse"/>
</message>
<message name="replacementDateByProduct">
<part name="parameters" element="tns:replacementDateByProduct"/>
</message>
<message name="replacementDateByProductResponse">
<part name="parameters" element="tns:replacementDateByProductResponse"/>
</message>
<message name="findProductByDesignation">
<part name="parameters" element="tns:findProductByDesignation"/>
</message>
<message name="findProductByDesignationResponse">
<part name="parameters" element="tns:findProductByDesignationResponse"/>
</message>
<message name="deleteOrderById">
<part name="parameters" element="tns:deleteOrderById"/>
</message>
<message name="deleteOrderByIdResponse">
<part name="parameters" element="tns:deleteOrderByIdResponse"/>
</message>
<portType name="SoapWebService">
<operation name="init">
<input wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/initRequest" message="tns:init"/>
<output wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/initResponse" message="tns:initResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/loginResponse" message="tns:loginResponse"/>
<fault message="tns:LoginInvalidateException" name="LoginInvalidateException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/login/Fault/LoginInvalidateException"/>
</operation>
<operation name="makeOrder">
<input wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/makeOrderRequest" message="tns:makeOrder"/>
<output wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/makeOrderResponse" message="tns:makeOrderResponse"/>
<fault message="tns:OrderNotCreatedException" name="OrderNotCreatedException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/makeOrder/Fault/OrderNotCreatedException"/>
</operation>
<operation name="findOrder">
<input wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findOrderRequest" message="tns:findOrder"/>
<output wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findOrderResponse" message="tns:findOrderResponse"/>
<fault message="tns:ClientNotFoundException" name="ClientNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findOrder/Fault/ClientNotFoundException"/>
<fault message="tns:OrderNotFoundException" name="OrderNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findOrder/Fault/OrderNotFoundException"/>
</operation>
<operation name="findAllProducts">
<input wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findAllProductsRequest" message="tns:findAllProducts"/>
<output wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findAllProductsResponse" message="tns:findAllProductsResponse"/>
<fault message="tns:ProductNotFoundException" name="ProductNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findAllProducts/Fault/ProductNotFoundException"/>
</operation>
<operation name="makeOrderTest">
<input wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/makeOrderTestRequest" message="tns:makeOrderTest"/>
<output wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/makeOrderTestResponse" message="tns:makeOrderTestResponse"/>
</operation>
<operation name="findProductById">
<input wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findProductByIdRequest" message="tns:findProductById"/>
<output wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findProductByIdResponse" message="tns:findProductByIdResponse"/>
<fault message="tns:ProductNotFoundException" name="ProductNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findProductById/Fault/ProductNotFoundException"/>
</operation>
<operation name="findStockByProduct">
<input wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findStockByProductRequest" message="tns:findStockByProduct"/>
<output wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findStockByProductResponse" message="tns:findStockByProductResponse"/>
<fault message="tns:ProductNotFoundException" name="ProductNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findStockByProduct/Fault/ProductNotFoundException"/>
</operation>
<operation name="findAllOrders">
<input wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findAllOrdersRequest" message="tns:findAllOrders"/>
<output wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findAllOrdersResponse" message="tns:findAllOrdersResponse"/>
<fault message="tns:ClientNotFoundException" name="ClientNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findAllOrders/Fault/ClientNotFoundException"/>
<fault message="tns:OrderNotFoundException" name="OrderNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findAllOrders/Fault/OrderNotFoundException"/>
</operation>
<operation name="orderDeliveryDate">
<input wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/orderDeliveryDateRequest" message="tns:orderDeliveryDate"/>
<output wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/orderDeliveryDateResponse" message="tns:orderDeliveryDateResponse"/>
<fault message="tns:ClientNotFoundException" name="ClientNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/orderDeliveryDate/Fault/ClientNotFoundException"/>
<fault message="tns:OrderNotFoundException" name="OrderNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/orderDeliveryDate/Fault/OrderNotFoundException"/>
</operation>
<operation name="findOrderItems">
<input wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findOrderItemsRequest" message="tns:findOrderItems"/>
<output wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findOrderItemsResponse" message="tns:findOrderItemsResponse"/>
<fault message="tns:ClientNotFoundException" name="ClientNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findOrderItems/Fault/ClientNotFoundException"/>
<fault message="tns:ItemNotFoundException" name="ItemNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findOrderItems/Fault/ItemNotFoundException"/>
</operation>
<operation name="findOrderByClienId">
<input wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findOrderByClienIdRequest" message="tns:findOrderByClienId"/>
<output wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findOrderByClienIdResponse" message="tns:findOrderByClienIdResponse"/>
<fault message="tns:ClientNotFoundException" name="ClientNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findOrderByClienId/Fault/ClientNotFoundException"/>
<fault message="tns:OrderNotFoundException" name="OrderNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findOrderByClienId/Fault/OrderNotFoundException"/>
</operation>
<operation name="findProductsByDescription">
<input wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findProductsByDescriptionRequest" message="tns:findProductsByDescription"/>
<output wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findProductsByDescriptionResponse" message="tns:findProductsByDescriptionResponse"/>
<fault message="tns:ProductNotFoundException" name="ProductNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findProductsByDescription/Fault/ProductNotFoundException"/>
</operation>
<operation name="getProductsByCategory">
<input wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/getProductsByCategoryRequest" message="tns:getProductsByCategory"/>
<output wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/getProductsByCategoryResponse" message="tns:getProductsByCategoryResponse"/>
<fault message="tns:ProductNotFoundException" name="ProductNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/getProductsByCategory/Fault/ProductNotFoundException"/>
</operation>
<operation name="findProductsByCategory">
<input wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findProductsByCategoryRequest" message="tns:findProductsByCategory"/>
<output wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findProductsByCategoryResponse" message="tns:findProductsByCategoryResponse"/>
<fault message="tns:ProductNotFoundException" name="ProductNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findProductsByCategory/Fault/ProductNotFoundException"/>
</operation>
<operation name="replacementDateByProduct">
<input wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/replacementDateByProductRequest" message="tns:replacementDateByProduct"/>
<output wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/replacementDateByProductResponse" message="tns:replacementDateByProductResponse"/>
<fault message="tns:ProductNotFoundException" name="ProductNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/replacementDateByProduct/Fault/ProductNotFoundException"/>
<fault message="tns:ClientNotFoundException" name="ClientNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/replacementDateByProduct/Fault/ClientNotFoundException"/>
</operation>
<operation name="findProductByDesignation">
<input wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findProductByDesignationRequest" message="tns:findProductByDesignation"/>
<output wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findProductByDesignationResponse" message="tns:findProductByDesignationResponse"/>
<fault message="tns:ProductNotFoundException" name="ProductNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/findProductByDesignation/Fault/ProductNotFoundException"/>
</operation>
<operation name="deleteOrderById">
<input wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/deleteOrderByIdRequest" message="tns:deleteOrderById"/>
<output wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/deleteOrderByIdResponse" message="tns:deleteOrderByIdResponse"/>
<fault message="tns:ClientNotFoundException" name="ClientNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/deleteOrderById/Fault/ClientNotFoundException"/>
<fault message="tns:OrderNotFoundException" name="OrderNotFoundException" wsam:Action="http://soapWs.grupoi.projeto4.paj.dei.uc.pt/SoapWebService/deleteOrderById/Fault/OrderNotFoundException"/>
</operation>
</portType>
<binding name="SoapWebServicePortBinding" type="tns:SoapWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="init">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LoginInvalidateException">
<soap:fault name="LoginInvalidateException" use="literal"/>
</fault>
</operation>
<operation name="makeOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OrderNotCreatedException">
<soap:fault name="OrderNotCreatedException" use="literal"/>
</fault>
</operation>
<operation name="findOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClientNotFoundException">
<soap:fault name="ClientNotFoundException" use="literal"/>
</fault>
<fault name="OrderNotFoundException">
<soap:fault name="OrderNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="findAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProductNotFoundException">
<soap:fault name="ProductNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="makeOrderTest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findProductById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProductNotFoundException">
<soap:fault name="ProductNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="findStockByProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProductNotFoundException">
<soap:fault name="ProductNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="findAllOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClientNotFoundException">
<soap:fault name="ClientNotFoundException" use="literal"/>
</fault>
<fault name="OrderNotFoundException">
<soap:fault name="OrderNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="orderDeliveryDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClientNotFoundException">
<soap:fault name="ClientNotFoundException" use="literal"/>
</fault>
<fault name="OrderNotFoundException">
<soap:fault name="OrderNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="findOrderItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClientNotFoundException">
<soap:fault name="ClientNotFoundException" use="literal"/>
</fault>
<fault name="ItemNotFoundException">
<soap:fault name="ItemNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="findOrderByClienId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClientNotFoundException">
<soap:fault name="ClientNotFoundException" use="literal"/>
</fault>
<fault name="OrderNotFoundException">
<soap:fault name="OrderNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="findProductsByDescription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProductNotFoundException">
<soap:fault name="ProductNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getProductsByCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProductNotFoundException">
<soap:fault name="ProductNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="findProductsByCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProductNotFoundException">
<soap:fault name="ProductNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="replacementDateByProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProductNotFoundException">
<soap:fault name="ProductNotFoundException" use="literal"/>
</fault>
<fault name="ClientNotFoundException">
<soap:fault name="ClientNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="findProductByDesignation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProductNotFoundException">
<soap:fault name="ProductNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="deleteOrderById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClientNotFoundException">
<soap:fault name="ClientNotFoundException" use="literal"/>
</fault>
<fault name="OrderNotFoundException">
<soap:fault name="OrderNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SoapWebService">
<port name="SoapWebServicePort" binding="tns:SoapWebServicePortBinding">
<soap:address location="http://localhost:8080/SoapWebService/SoapWebService"/>
</port>
</service>
</definitions>